body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}

#headd {
    background-color: #faf8ef;
    color: black;
    padding: 20px;
    margin: auto;
}

.container {
    text-align: center;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
}

.score-container {
    margin-top: 20px;
}

#restart-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8f7a66;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#restart-button:hover {
    background-color: #76625d;
}
