body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornsilk;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #3a3232;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: bisque;
    color: rgb(49, 40, 40);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(96, 161, 131)
}

.error {
    color: red;
    margin-top: 10px;
}

.profile {
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
}